$testborder: 1px solid red;

a {
    display: block;
}

@mixin flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media only screen and (max-width: 600px) {
    .header-logo-img {
        width: 60px;
        height: 60px;
        border: $testborder;
    }
    
    .header-logo-img > img {
        width: inherit;
        height: inherit;
    }

    .header-short-menu-img {
        width: 30px;
        height: 30px;
        border: $testborder;
        margin-left: 10px;
    }
    
    .header-short-menu-img > img {
        width: inherit;
        height: inherit;
    }

    .header-tools-img {
        width: 35px;
        height: 55px;
        border: $testborder;
        @include flex-middle();
    }

    .header-tools-img > img {
        width: 40%;
        height: 25%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .header-logo-img {
        width: 60px;
        height: 60px;
        border: $testborder;
    }
    
    .header-logo-img > img {
        width: inherit;
        height: inherit;
    }

    .header-short-menu-img {
        width: 30px;
        height: 30px;
        border: $testborder;
        margin-left: 20px;
    }
    
    .header-short-menu-img > img {
        width: inherit;
        height: inherit;
    }
    
    .header-tools-img {
        width: 40px;
        height: 60px;
        border: $testborder;
        @include flex-middle();
    }

    .header-tools-img > img {
        width: 60%;
        height: 40%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .header-logo-img {
        width: 60px;
        height: 60px;
        border: $testborder;
    }
    
    .header-logo-img > img {
        width: inherit;
        height: inherit;
    }

    .header-short-menu-img {
        width: 30px;
        height: 30px;
        border: $testborder;
        margin-left: 20px;
    }
    
    .header-short-menu-img > img {
        width: inherit;
        height: inherit;
    }
    
    .header-tools-img {
        width: 40px;
        height: 60px;
        border: $testborder;
        @include flex-middle();
    }

    .header-tools-img > img {
        width: 60%;
        height: 40%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .header-logo-img {
        width: 60px;
        height: 60px;
        border: $testborder;
    }
    
    .header-logo-img > img {
        width: inherit;
        height: inherit;
    }
    
    .header-short-menu-img {
        width: 60px;
        height: 60px;
        border: $testborder;
        margin-left: 20px;
    }
    
    .header-short-menu-img > img {
        width: inherit;
        height: inherit;
    }

    .header-tools-img {
        width: 40px;
        height: 60px;
        border: $testborder;
        @include flex-middle();
    }

    .header-tools-img > img {
        width: 60%;
        height: 40%;
    }
}

@media only screen and (min-width: 1201px) {
    .header-logo-img {
        width: 60px;
        height: 60px;
        border: $testborder;
    }
    
    .header-logo-img > img {
        width: inherit;
        height: inherit;
    }

    .header-short-menu-img {
        width: 60px;
        height: 60px;
        border: $testborder;
        margin-left: 20px;
    }
    
    .header-short-menu-img > img {
        width: inherit;
        height: inherit;
    }

    .header-tools-img {
        width: 40px;
        height: 60px;
        border: $testborder;
        @include flex-middle();
    }

    .header-tools-img > img {
        width: 60%;
        height: 40%;
    }
}