#menu-link {
    border-bottom: 3px solid transparent;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-link:hover {
    border-bottom: 3px solid black;
}

a {
    text-decoration: none;
}

p {
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}