<div id="main-header-div">
    <div id="main-header-image">
        <app-div-image-generator id="logo-img" [imgpath]="'/assets/logo.png'" [classid]="'header-logo-img'" [margin]="true" [marsumleft]="'10px'">
        </app-div-image-generator>
        <app-div-image-generator id="short-menu" [imgpath]="'/assets/menu-short.png'" [classid]="'header-short-menu-img'">
        </app-div-image-generator>
    </div>
    <div id="main-header-menu">
        <app-menu-link-generator [linktext]="'МУШКАРЦИ'">
        </app-menu-link-generator>
        <app-menu-link-generator [linktext]="'ЖЕНЕ'">
        </app-menu-link-generator>
        <app-menu-link-generator [linktext]="'ДЕЦА'">
        </app-menu-link-generator>
        <app-menu-link-generator [linktext]="'OTTO-DIVISION'" [bold]="true">
        </app-menu-link-generator>
        <app-div-image-generator id="middle-logo-img" [imgpath]="'/assets/logo.png'" [classid]="'header-logo-img'">
        </app-div-image-generator>
    </div>
    <div id="main-header-tools">
        <app-div-image-generator class="tools-img" (click)="loga()" [imgpath]="'/assets/search.png'" [classid]="'header-tools-img'">
        </app-div-image-generator>
        <app-div-image-generator class="tools-img" [imgpath]="'/assets/user.png'" [classid]="'header-tools-img'">
        </app-div-image-generator>
        <app-div-image-generator class="tools-img" [imgpath]="'/assets/shopping-cart.png'" [classid]="'header-tools-img'" [margin]="true" [marsumright]="'10px'">
        </app-div-image-generator>
    </div>
</div>
