  $bannermessageheight: 25px;
  $bannermessagebgcolor: black;
  $testborder: 1px solid red;

  @mixin flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 600px) {
    #header-message-div {
        background-color: $bannermessagebgcolor;
        height: $bannermessageheight;
    }

    #hbm-center-text-div {
        width: 100%;
        height: 100%;
        @include flex-middle();
        font-size: 10px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 768px) {
    #header-message-div {
        background-color: $bannermessagebgcolor;
        height: $bannermessageheight;
    }

    #hbm-center-text-div {
        width: 100%;
        height: 100%;
        @include flex-middle();
        font-size: 10px;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
    #header-message-div {
        background-color: $bannermessagebgcolor;
        height: $bannermessageheight;
    }

    #hbm-center-text-div {
        width: 100%;
        height: 100%;
        @include flex-middle();
    }
  }

  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    #header-message-div {
        background-color: $bannermessagebgcolor;
        height: $bannermessageheight;
    }

    #hbm-center-text-div {
        width: 100%;
        height: 100%;
        @include flex-middle();
    }
  }

  @media only screen and (min-width: 1201px) {
    #header-message-div {
        background-color: $bannermessagebgcolor;
        height: $bannermessageheight;
    }

    #hbm-center-text-div {
        width: 100%;
        height: 100%;
        @include flex-middle();
    }
  }

  p {
    color: white;
    font-family: 'Bold';
  }