<div id="top-banner-header">
    <div class="container-socials">
        <app-button [imgsrc]="'assets/instagram.png'" [height]="'17px'" [width]="'17px'" [leftmargin]="'10px'">
        </app-button>
        <app-button [imgsrc]="'assets/facebook.png'" [height]="'17px'" [width]="'17px'" [leftmargin]="'10px'">
        </app-button>
        <div id="social-message">
            <p>ИНФО: prodaja@ottoshop.rs</p>
        </div>
    </div>
    <div class="container-message">
        <p>БЕСПЛАТНА ДОСТАВА ЗА ПОРУЏБИНЕ ПРЕКО 5000,00 РСД</p>
    </div>
    <div class="container-loggedin">
        <p>Нисте пријављени</p>
    </div>
</div>
