$testborder: 1px solid red;

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Bold';
    src: url("../src/app/Fonts/Bold.ttf");
}

@font-face {
    font-family: 'Light';
    src: url("../src/app/Fonts/Regular.ttf");
}