* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Regular';
    src: url('../src/app/Fonts/regular.ttf');
}

@font-face {
    font-family: 'Bold';
    src: url('../src/app/Fonts/Bold.ttf');
}