<div id="main-header-div">
    <div id="logo-image">
        <app-button id="logo-img-button" [imgsrc]="'assets/logo.png'" [height]="'60px'" [width]="'60px'" [leftmargin]="'10px'">
        </app-button>
        <app-button id="short-menu-button" [imgsrc]="'assets/menu-short.png'" [anchor]="false" [height]="'35px'" [width]="'35px'">
        </app-button>
        <app-button id="search-menu-button" [imgsrc]="'assets/search.png'" [anchor]="false" [height]="'25px'" [width]="'25px'">
        </app-button>
    </div>
    <div id="menu-div">

    </div>
    <div id="tools-div">

    </div>
</div>
